.content {
    margin: 0 auto;
    padding: 30px 90px;
    max-width: 1230px;
    text-align: center;
    font-weight: bold;
}

.content__box {
    display: flex;
}

.content__name {
    margin: 30px 70px;
    font-size: 30px;
}

.content__card {
    width: 300px;
    height: 200px;
}

.content__bound {
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    margin: auto;
}

.content__price {
    margin: 30px;
    font-size: 20px;
}

.content__detail {
    font-size: 15px;
    margin: 10px;
}
